* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f8ff;
}
/* Font Family */

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* Header Section */
header {
  background-image: url("/images/Hero-bg.png");
  margin: 0 auto;
  margin-bottom: 116px;
}

/* Nav Bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #4c60ff;
  font-weight: 500;
}

/* ------------------ Logo ------------------ */
.logo {
  font: inter-normal;
  font-weight: bolder;
  color: #4e47ff;
  font-size: 34px;
}

/* ------------------ Button ------------------ */
.btn {
  background: #4e47ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}
/* 
.signup-btn {
  margin-top: 37px;
} */
/* ------------------ Hero Section ------------------ */
.hero {
  text-align: center;
  padding: 60px 20px;
  margin: 158px 118px;
}

.hero h1 {
  font-size: 65px;
}

.hero-text {
  margin-bottom: 37px;
}
/* .hero p {
  font-size: 18px;
  margin-bottom: 20px;
} */

/* ------------------ See it in Action Section ------------------ */
/* .see-section {
  margin: 0 100px;
} */

.container {
  margin-bottom: 115px;
}

.action-section {
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  gap: 200px;
  align-items: center;
}

.action-text h2 {
  margin-bottom: 20px;
  font-size: 42px;
}
.action-text p {
  margin-bottom: 20px;
  color: rgb(37, 36, 50, 0.5);
  font-weight: bold;
}

.action-image {
  width: 100%;
  border-radius: 12px;
}
