* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f8ff;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
}
/* Font Family */

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* Header Section */
header {
  background-image: url("/images/Hero-bg.png");
  margin: 0 auto;
  margin-bottom: 116px;
}

/* Nav Bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #4c60ff;
  font-weight: 500;
}

.logo {
  font: inter-normal;
  font-weight: 900;
  color: #4e47ff;
  font-size: 34px;
}

/* ------------------ Button ------------------ */
.btn {
  background: #4e47ff;
  color: white;
  padding: 12px 36px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}

.btn:hover {
  background-color: yellowgreen;
}
/* 
.signup-btn {
  margin-top: 37px;
} */
/* ------------------ Hero Section ------------------ */
.hero {
  text-align: center;
  padding: 60px 20px;
  margin: 0px 158px 118px;
}

.hero h1 {
  font-size: 65px;
}

.hero-text {
  margin-bottom: 37px;
}
/* .hero p {
  font-size: 18px;
  margin-bottom: 20px;
} */

/* ------------------ See it in Action Section ------------------ */
/* .see-section {
  margin: 0 100px;
} */

.container {
  margin-bottom: 115px;
}

.action-section {
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  gap: 200px;
  align-items: center;
}

.action-text h2 {
  margin-bottom: 20px;
  font-size: 42px;
}
.action-text p {
  margin-bottom: 20px;
  color: rgb(37, 36, 50, 0.5);
  font-weight: bold;
}

.action-image {
  width: 100%;
  border-radius: 12px;
}

/* ------------------ Stats Section ------------------ */

.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px;
  border-radius: 16px;
  text-align: center;
  background: rgb(78, 71, 255, 0.1);
}

.stats h2 {
  width: 100%;
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 30px;
}

.stat {
  flex: 1;
  min-width: 100px;
}

.stat h3 {
  font-size: 80px;
  font-weight: bold;
  color: #4c60ff;
  margin-bottom: 10px;
}

.stat p {
  color: rgb(37, 36, 50, 0.5);
}

/* ------------------ Review Section ------------------ */

.contact-form {
  background: #f0f2ff;
}

.review-heading {
  text-align: center;
  margin-bottom: 30px;
  font-size: 42px;
  font-weight: bold;
}

.review-cards {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.review-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  min-width: 250px;
}
.review-card p {
  text-align: justify;
}

/* ------------------ Ready------------------ */
.ready-section {
  text-align: center;
  margin: 135px;
  background-color: white;
  padding: 71px 130px;
}

.ready-image {
  width: 100%;
  border-radius: 12px;
}

.ready-section h2 {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 30px;
}
.ready-section p {
  margin-bottom: 20px;
  color: rgb(37, 36, 50, 0.5);
}
.ready-section a {
  margin-bottom: 30px;
}

/* ------------------ Contact Form Section ------------------ */
.contact-form {
  background-color: #f5f8ff;
}
.contact-box {
  display: flex;
  padding: 40px;
  border-radius: 10px;
  margin: auto;
}

.left-contact {
  flex: 1;
  padding-right: 40px;
  display: flex;
  align-items: center;
}

.left-contact h2 {
  font-size: 48px;
  font-weight: 800;
  color: #000;
  line-height: 1.2;
}

.right-contact {
  flex: 1;
}

.right-contact form {
  display: flex;
  flex-direction: column;
}

.right-contact label {
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 600;
}

form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.field {
  margin-bottom: 30px;
}

/* ------------------ Footer ------------------ */
.footer-logo {
  font-family: "Inter", sans-serif;
  font-size: 64px;
  font-weight: 800;
  color: #4a3aff;
}

footer p.footer-description {
  font-size: 16px;
  color: #888;
  max-width: 600px;
  margin: 20px auto 0;
  line-height: 1.5;
}

.footer-social {
  margin-top: 20px;
}

.footer-social a {
  color: #888;
  margin: 0 10px;
  text-decoration: none;
  font-weight: 500;
}

footer {
  background: white;
  text-align: center;
  padding: 40px 20px;
}

.footer-description {
  margin-top: 10px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.footer-social {
  margin-top: 20px;
}
